<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @business.location %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @business.contact %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
